* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input {
    border: none;
}

input:focus {
    outline-width: 0;
}

/* header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
}

header .innerchild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90px;
}

header .innerchild .logo {
    width: 170px;
    height: 29px;
}

header .innerchild .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    line-height: 17.64px;
    letter-spacing: 1.3px;
    width: 595px;
    height: 57px;
}

header .innerchild .buttons a {
    color: #221437;
    margin-top: 10px;
    height: 25px;
    width: 103px;
}

header .innerchild .auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    width: 360px;
    height: 51px;
}

header .innerchild .auth a {
    color: #221437;
    letter-spacing: 1.3px;
    margin-right: 20px;
}

header .innerchild .auth button {
    cursor: pointer;
    height: 50px;
    width: 135px;
    border-radius: 50px;
}

header .innerchild .auth button:nth-child(2) {
    color: white;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 300;
    background-color: #793CFB;
}

header .innerchild .auth button:nth-child(3) {
    border: 5px solid #793CFB;
    color: #793CFB;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
}

header .innerchild .auth p {
    font-weight: 300;
}

/* First block  */

.firstblock {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.firstblock .backgrnd {
    position: absolute;
    z-index: -1;
    top: -135px;
    width: 100%;
}

.firstblock .leftimg {
    width: 393.11px;
    height: 579.09px;
}

.firstblock .leftimg img:nth-child(2) {
    position: relative;
    bottom: 90px;
}

.firstblock .leftimg img:nth-child(3) {
    position: relative;
    bottom: 193px;
    left: 18px;
}

.firstblock .leftimg img:nth-child(4) {
    position: relative;
    top: 440px;
    right: 250px;
    height: 63;
    width: 63px;
}

.firstblock .rightimg {
    margin-top: 200px;
}

.firstblock .rightimg img:nth-child(1) {
    position: relative;
    width: 108px;
    height: 108px;
    bottom: 523px;
    left: 460px;
}

.firstblock .rightimg img:nth-child(2) {
    position: relative;
    width: 143px;
    height: 143px;
    bottom: 523px;
    left: 160px;
}

.firstblock .rightimg img:nth-child(3) {
    position: relative;
    width: 108px;
    height: 108px;
    bottom: 690px;
    left: 134px;
}

.firstblock .innerchild {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-top: 30px;
    width: 70%;
    height: 797.63px;
}

.firstblock .inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 570px;
}

.firstblock .inner-content p:nth-child(1) {
    font-size: 88px;
    line-height: 99px;
    text-align: center;
    letter-spacing: 0.98px;
    color: #221437;
}

.firstblock .inner-content p:nth-child(2) {
    font-size: 84px;
    line-height: 99px;
    letter-spacing: 0.98px;
    color: #221437;
}

.firstblock .inner-content p:nth-child(3) {
    width: 413px;
    font-size: 23px;
    line-height: 33.6px;
    text-align: center;
    color: #221437;
}

.firstblock .inner-content-input {
    height: 77.59px;
    width: 531.25px;
}

.firstblock .inner-content-input input {
    width: 329px;
    height: 58px;
    border-radius: 36px;
}

.firstblock .inner-content-input input::placeholder {
    color: black;
    font-weight: 600;
    padding-left: 25.63px;
}

.firstblock .inner-content-input button {
    width: 174px;
    height: 56px;
    background-color: #793CFB;
    color: white;
    border-radius: 36px;
    cursor: pointer;
}

.firstblock .inner-content-footer {
    height: 130.03px;
    width: 531.25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.firstblock .inner-content-footer img {
    width: 100px;
    height: 130px;
}

/* Second block */

.secondblock {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 140px;
    width: 80%;
    height: 888px;
}

.secondblock .star {
    position: relative;
    bottom: 190px;
    right: 140px;
    width: 535px;
    height: 395px;
}

.secondblock p {
    color: #221437;
    font-size: 58px;
    line-height: 57.6px;
    text-align: center;
}

.secondblock .innerchild {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: 105%;
}

.secondblock .leftblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 160px;
    width: 29%;
    height: 426px;
}

.secondblock .leftblock .first {
    margin-top: 40px;
}

.secondblock .leftblock .third {
    margin-bottom: 30px;
}

.secondblock .leftblock p {
    color: #221437;
    margin-left: 7px;
    text-align: left;
    font-size: 20px;
    line-height: 27.72px;
    width: 160px;
}

.secondblock .leftblock .imgs {
    width: 152.27px;
    height: 63px;
}

.secondblock .leftblock div {
    width: 100%;
    display: flex;
    align-items: center;
}

.secondblock .leftblock img {
    width: 63px;
    height: 63px;
}

.leftblock .imgs img:nth-child(2) {
    position: relative;
    right: 17px;
    z-index: -1;
}

.leftblock .imgs img:nth-child(3) {
    position: relative;
    right: 34px;
}

.secondblock .rightblock .elements {
    width: 110px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondblock .rightblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    height: 765px;
}

.secondblock .rightblock .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 43.96px;
}

.secondblock .rightblock .header .red {
    background-color: #FF7E76;
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
}

.secondblock .rightblock .header .yellow {
    background-color: #F7E177;
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
}

.secondblock .rightblock .header .green {
    background-color: #B4CF80;
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
}

.secondblock .rightblock .header .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 250px;
    position: absolute;
    width: 282.99px;
    height: 21.98px;
}

.secondblock .rightblock .header .link p {
    font-size: 15px;
    font-weight: 450;
    color: #221437;
}

.secondblock .rightblock .header .link p {
    font-size: 15px;
    font-weight: 450;
    color: #221437;
}

.secondblock .rightblock .header .fa-plus {
    position: relative;
    left: 390px;
}

.rightblock .kit {
    background-color: #793CFB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94.51px;
}

.rightblock .kit img {
    width: 23.15px;
    height: 9.31px;
}

.rightblock .kit .menu {
    background-color: #8A54FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    width: 343.1px;
    height: 39.56px;
}

.rightblock .kit .menu img {
    margin-left: 15px;
    width: 81.66px;
    height: 18.25px;
}

.rightblock .kit .menu img:nth-child(2) {
    margin-right: 10px;
    width: 14.09px;
    height: 9.09px;
}

.rightblock .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 472.13px;
    height: 296.71px;
}

.rightblock .action p:nth-child(1) {
    margin-right: 200px;
    font-size: 20px;
    font-weight: 450;
    color: #3D2650;
}

.rightblock .action p:nth-child(2) {
    position: relative;
    font-size: 14px;
    font-weight: 550;
    top: 10px;
    margin-right: 60px;
    color: #3D2650;
}

.rightblock .action .line {
    background-color: #30352800;
    height: 10px;
    border-radius: 20px;
    width: 95%;
}

.rightblock .action .line .innerchild {
    position: relative;
    background-color: #B4CF80;
    bottom: 32px;
    right: 2px;
    z-index: -1;
    border: none;
    width: 215px;
    border-radius: 25px;
    height: 10px;
}

.rightblock .tables {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rightblock .tables .lefttable {
    height: 143.99px;
    width: 165.69px;
}

.rightblock .tables .p {
    color: #3D2650;
    font-weight: 450;
    min-width: 172px;
    height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}

.rightblock .tables .righttable {
    height: 143.99px;
    width: 165.69px;
}

.rightblock .tables .statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 83%;
    width: 100%;
}

.rightblock .tables .balls {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin-left: 5px;
}

.rightblock .tables .ball {
    border: 1px solid rgb(177, 177, 177);
    width: 13.93px;
    height: 13.92px;
    margin-top: 2.8px;
    border-radius: 50%;
    overflow: hidden;
}

.rightblock .tables .ball img {
    width: 6.6px;
    height: 5.86px;
    margin-bottom: 7px;
    margin-left: 4px;
}

.ball-third .inner {
    background-color: #B4CF80;
    width: 100px;
    height: 100px;
}

.rightblock .tables .lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 130px;
    margin-right: 25px;
    margin-bottom: 5px;
}

.rightblock .tables .line {
    width: 110px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    margin-left: 4px;
    overflow: hidden;
}

.rightblock .tables .line-third .inner {
    background-color: #B4CF80;
    border-radius: 5px;
    width: 100px;
    height: 100%;
}

.rightblock .kpi {
    width: 472.13px;
    height: 169.24px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightblock .kpi .p {
    width: 100%;
    color: #3D2650;
    font-size: 16px;
    font-weight: 500;
}

.rightblock .kpi .innerchild {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightblock .kpi .innerchild .p {
    text-align: center;
}

.rightblock .kpi .innerchild .line {
    background-color: rgb(207, 207, 207);
    height: 80px;
    width: 20px;
    border-radius: 25px;
}

/* Третий блок */

.thirdblock {
    width: 1216px;
    height: 600px;
    margin-top: 250px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdblock p {
    color: #221437;
    font-weight: 400;
    font-size: 58px;
    line-height: 57.6px;
    text-align: center;
    width: 1106px;
}

.thirdblock .emblems {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 980px;
    height: 98px;
}

.thirdblock .emblems img:nth-child(1) {
    width: 188px;
    height: 43px;
    margin-top: 35px;
}

.thirdblock .emblems img:nth-child(2) {
    width: 167px;
    height: 98px;
}

.thirdblock .emblems img:nth-child(3) {
    width: 179px;
    height: 44px;
    margin-top: 35px;
}

.thirdblock .secondsemblems {
    margin-top: 60px;
    width: 750px;
    height: 58px;
    display: flex;
    justify-content: space-between;
}

.thirdblock .secondsemblems img:nth-child(1) {
    width: 151px;
    height: 40px;
}

.thirdblock .secondsemblems img:nth-child(2) {
    width: 197px;
    height: 58px;
}

.thirdblock .bird {
    position: relative;
    left: 380px;
    top: 300px;
}

/* Четвёртый блок */

.fourthblock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1132px;
    width: 1216px;
    margin-left: 70px;
}

.fourthblock .innerchild {
    text-align: center;
    width: 1152px;
    height: 723.55px;
}

.fourthblock .innerchild p:nth-child(1) {
    color: #221437;
    font-weight: 300;
    margin-right: 270px;
    font-size: 72px;
    line-height: 81px;
}

.fourthblock .innerchild p:nth-child(2) {
    color: #221437;
    font-weight: 300;
    margin-left: 140px;
    font-size: 64px;
    line-height: 64px;
}

.fourthblock .inner-content {
    width: 1152px;
    height: 573.94px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthblock .inner-content img {
    position: absolute;
    width: 1152px;
}

.fourthblock .inner-content .fgblocks {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.fourthblock .inner-content .fgblocks .fg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    height: 100%;
}

.fourthblock .inner-content .fgblocks .fg .innerblock {
    background-color: white;
    z-index: 1;
    width: 270px;
    height: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.fourthblock .inner-content .fgblocks .fg .innerblock .header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 45.38px;
}

.fourthblock .inner-content .fgblocks .fg .innerblock .header p {
    color: white;
    position: relative;
    bottom: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 450;
}

.fourthblock .inner-content .fgblocks .first .innerblock .header {
    background-color: #793CFB;
}

.fourthblock .inner-content .fgblocks .second .innerblock .header {
    background-color: #ABC264;
}

.fourthblock .inner-content .fgblocks .third .innerblock .header {
    background-color: #FED758;
}

.fourthblock .inner-content .fgblocks .second .innerblock {
    margin-top: -5px;
}

.fourthblock .fgblocks .first .imgs {
    width: 125.71px;
    height: 52.23px;
    margin-top: 30px;
}

.fourthblock .fgblocks .first .imgs img {
    position: relative;
    width: 125.71px;
    height: 52.23px;
    margin-right: 40px;
}

.fourthblock .fgblocks .first p:nth-child(3) {
    font-weight: 500;
    line-height: 40px;
}

.fourthblock .fgblocks .first .colabs {
    margin-top: 20px;
    width: 100%;
    height: 29.11px;
    display: flex;
    justify-content: space-between;
}

.fourthblock .fgblocks .first .colabs .text {
    position: relative;
    margin-top: 20px;
    width: 95.36px;
    height: 29.11px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10.5px;
}

.fourthblock .fgblocks .first .line {
    width: 60.72px;
    height: 8.56px;
    background-color: #DFEAEE;
    border-radius: 20px;
}

.fourthblock .fgblocks .second .KP {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourthblock .fgblocks .second .KP .personas {
    margin-left: 10px;
    background-color: #EFF7FD;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 115px;
}

.fourthblock .fgblocks .second .KP .kits {
    margin-right: 5px;
    background-color: #EFF7FD;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 115px;
}

.fourthblock .fgblocks .second .KP img {
    margin-left: 95px;
    margin-top: 9px;
    width: 9px;
    height: 7px;
}

.fourthblock .fgblocks .second .inner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fourthblock .fgblocks .second .lines {
    width: 80%;
    height: 9px;
    display: flex;
    justify-content: center;
}

.fourthblock .fgblocks .second .lines .first  {
    background-color: #DFEAEE;
    border-radius: 25px;
    width: 35.16px;
    height: 8.57px;
}

.fourthblock .fgblocks .second .lines .second  {
    background-color: #DFEAEE;
    border-radius: 25px;
    width: 58.31px;
    height: 8.57px;
    margin-left: 5px;
}

.fourthblock .fgblocks .second .lines .third  {
    background-color: #DFEAEE;
    border-radius: 25px;
    width: 21.44px;
    height: 8.57px;
    margin-left: 5px;
}

.fourthblock .fgblocks .second .lines .fourth  {
    background-color: #DFEAEE;
    border-radius: 25px;
    width: 41.16px;
    height: 8.57px;
    margin-left: 5px;
}

.fourthblock .fgblocks .second .costs {
    width: 270px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fourthblock .fgblocks .second .costs p {
    color: black;
    font-size: 24px;
    font-weight: 500;
}

.fourthblock .fgblocks .second .costs p:nth-child(1) {
    margin-right: 35px;
    margin-left: 35px;
}

.fourthblock .fgblocks .second .costs .line {
    border: 2px solid #DFEAEE;
    width: 200px;
    height: 50px;
}

.fourthblock .fgblocks .second .costs .cst {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourthblock .fgblocks .second .costs .bottom-line {
    background-color: #DFEAEE;
    width: 30px;
    height: 5px;
    border-radius: 20px;
    margin-top: -25px;
}

.fourthblock .fgblocks .third .innerblock .p1 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.fourthblock .fgblocks .third .innerblock .documents {
    margin-top: 25px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.fourthblock .fgblocks .third .innerblock .documents div {
    background-color: #F3FFCF;
    display: flex;
}

.fourthblock .fgblocks .third .innerblock .documents div img {
    position: relative;
    background-color: white;
    width: 25px;
    height: 22px;
    left: 46px;
    bottom: 5px;
}

.fourthblock .fgblocks .third .innerblock .documents div .text {
    position: relative;
    top: 35px;
    right: 10px;
    height: 20px;
    border-radius: 25px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: 550;
}

.fourthblock .fgblocks .third .innerblock .documents .pdf .text {
    background-color: #FED758;
}

.fourthblock .fgblocks .third .innerblock .documents .link .text {
    background-color: #588DFA;
}

.fourthblock .fgblocks .third .innerblock .documents .png .text {
    background-color: #AEC569;
}

.fourthblock .fgblocks .third .innerblock .documents .pdf {
    width: 30%;
    height: 90px;
}

.fourthblock .fgblocks .third .innerblock .documents .link {
    width: 30%;
    height: 90px;
}

.fourthblock .fgblocks .third .innerblock .documents .png {
    width: 30%;
    height: 90px;
}

.fourthblock .fgblocks .fg .text-bottom {
    color: #221437;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
}

/* Пятый блок */

.fiveblock {
    height: 620px;
    width: 1216px;
    margin-top: 150px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fiveblock .human {
    position: absolute;
    top: 3750px;
    left: 300px;
}

.fiveblock p {
    color: #221437;
}

.fiveblock p:nth-child(2) {
    width: 70%;
    font-size: 72px;
    line-height: 78px;
}

.fiveblock p:nth-child(3) {
    margin-top: 40px;
    width: 50%;
    font-size: 26px;
    line-height: 38.25px;
}

/* Шестой блок */

.sixblock {
    height: 552px;
    width: 1216px;
    margin-top: 40px;
    margin-left: 70px;
}

.sixblock img:nth-child(1) {
    position: absolute;
    width: 1216px;
    left: 120px;
    z-index: -1;
}

.sixblock .firstinner {
    height: 550px;
    display: flex;
}

.sixblock .firstinner .fay {
    position: absolute;
    width: 250px;
    top: 4806px;
    left: 100px;
    z-index: 1;
}

.sixblock .firstinner .menu {
    margin-top: 200px;
    margin-left: 50px;
    border-radius: 15px;
    width: 461.27px;
    height: 349.15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixblock .firstinner .menu .header {
    background-color: #ABC264;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 123.06px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 12.5px;
}

.sixblock .firstinner .menu .action {
    position: relative;
    background-color: white;
    border-radius: 15px;
    bottom: 40px;
    height: 216.79px;
    width: 365.44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixblock .firstinner .menu .action .header {
    background-color: white;
    color: black;
    display: flex;
    justify-content: left;
    height: 52.95px;
}

.sixblock .firstinner .menu .action .header p {
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: 0px;
}

.sixblock .firstinner .menu .message {
    background-color: #CEDBE3;
    position: relative;
    left: 205px;
    bottom: 180px;
    width: 20.02px;
    height: 20.02px;
    border-radius: 50%;
    border-bottom-left-radius: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sixblock .firstinner .menu .message .dot {
    background-color: white;
    width: 1.96px;
    height: 2px;
    border-radius: 50%;
}

.sixblock .firstinner .menu .message .dot:nth-child(1) {
    margin-left: 2px;
}

.sixblock .firstinner .menu .message .dot:nth-child(3) {
    margin-right: 2px;
}

.sixblock .firstinner .menu .action .lines {
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixblock .firstinner .menu .action .lines .dot {
    background-color: yellow;
    width: 15.02px;
    height: 14.47px;
    border-radius: 50%;
}

.sixblock .firstinner .menu .action .lines .line {
    background-color: yellow;
    width: 64.58px;
    height: 2.15px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.sixblock .firstinner .menu .action .lines .line:nth-child(4) {
    background-color: #CEDBE3;
}

.sixblock .firstinner .menu .action .lines .dot:nth-child(5) {
    background-color: #CEDBE3;
}

.sixblock .firstinner .menu .action .lines .dot:nth-child(3) {
    width: 27.47px;
    height: 26.47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixblock .firstinner .menu .action .lines .dot .innerdot {
    background-color: white;
    border-radius: 50%;
    width: 8.17px;
    height: 7.87px;
}

.sixblock .firstinner .menu .action .text {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sixblock .firstinner .menu .action .text .inner {
    height: 50px;
    width: 120px;
    font-size: 12px;
    font-weight: 650;
    line-height: 25px;
    text-align: center;
}

.sixblock .firstinner .menu .action .text .inner:nth-child(2) {
    height: 25px;
    margin-top: 20px;
}

.sixblock .firstinner .menu .action .text .inner .line {
    background-color: #E1EDF1;
    width: 50.78px;
    height: 7.15px;
    margin-left: 35px;
    margin-top: 5px;
    border-radius: 5px;
}

.sixblock .firstinner .menu .action .bottom-line {
    background-color: #E1EDF1;
    border-radius: 5px;
    width: 50.78px;
    height: 7.15px;
    margin-top: 60px;
}

.sixblock .firstinner .inner-content {
    height: 455px;
    width: 360px;
    margin-left: 210px;
}

.sixblock .firstinner .inner-content p:nth-child(1) {
    color: #793CFB;
    font-size: 13px;
    font-weight: 600;
}

.sixblock .firstinner .inner-content p:nth-child(2) {
    margin-top: 20px;
    color: #221437;
    font-size: 33px;
    line-height: 36.43px;
    letter-spacing: 0.72px;
}

.sixblock .firstinner .inner-content .inner-block {
    margin-top: 30px;
    width: 295px;
    height: 273px;
}

.sixblock .firstinner .inner-content .inner-block p {
    color: #221437;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
}

.sixblock .firstinner .inner-content .inner-block button {
    background-color: #793CFB;
    margin-top: 16px;
    color: white;
    border-radius: 36px;
    cursor: pointer;
    width: 121px;
    height: 53px;
}

/* Седьмой блок */

.sevenblock {
    height: 1000px;
    width: 1216px;
    display: flex;
}

.sevenblock .secondinner {
    width: 350px;
    height: 600px;
    margin-left: 85px;
    margin-top: 150px;
}

.sevenblock .secondinner p:nth-child(1) {
    font-size: 13px;
    color: #793CFB;
    font-weight: 600;
}

.sevenblock .secondinner p:nth-child(2) {
    color: #221437;
    font-size: 32px;
    line-height: 36.43px;
    letter-spacing: 0.72px;
}

.sevenblock .secondinner .inner-block {
    width: 340px;
    height: 355px;
    margin-top: 40px;
}

.sevenblock .secondinner .inner-block p:nth-child(1) {
    color: #221437;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}

.sevenblock .secondinner .inner-block button {
    background-color: #793CFB;
    margin-top: 20px;
    width: 121px;
    height: 53px;
    border-radius: 36px;
    color: white;
}

.sevenblock .secondinnerright {
    width: 648px;
    height: 602.59px;
    margin-left: 60px;
    margin-top: 310px;
}

.sevenblock .secondinnerright img:nth-child(1) {
    width: 694.38px;
    height: 462.36px;
    margin-left: 450px;
    margin-top: 150px;
}

.sevenblock .secondinnerright img:nth-child(2) {
    position: relative;
    right: 60px;
    top: 50px;
}

.sevenblock .secondinnerright img:nth-child(3) {
    position: relative;
    right: 120px;
    top: 140px;
}

.sevenblock .secondinnerright img:nth-child(4) {
    position: relative;
    right: 180px;
    top: 30px;
}

/* Восьмой блок */

.eightblock {
    width: 1200px;
    height: 600px;
}

.eightblock img {
    max-height: 577px;
    max-width: 365px;
    margin-left: 100px;
}

.eightblock .innerchild {
    width: 365px;
    height: 315px;
    margin-left: 650px;
    margin-top: 150px;
}

.eightblock .innerchild p:nth-child(1) {
    color: #221437;
    font-size: 28px;
    line-height: 36.43px;
}

.eightblock .innerchild .text p:nth-child(1) {
    color: #221437;
    font-size: 14px;
    line-height: 20.16px;
    margin-top: 10px;
    font-weight: 500;
}

.eightblock .innerchild .text p:nth-child(2) {
    color: #9FB55D;
    position: relative;
    font-size: 14px;
    line-height: 20.16px;
    margin-left: 70px;
    bottom: 20px;
    font-weight: 400;
}

/* Девятый блок */

.nineblock {
    width: 1036.81px;
    height: 850px;
    margin-left: 80px;
    margin-top: 50px;
}

.nineblock img {
    position: relative;
    max-width: 350px;
    margin-left: 100px;
    top: 6978px;
}

.nineblock .menu {
    background-color: #ABC264;
    width: 548.25px;
    height: 146.2px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.nineblock .innermenu {
    position: relative;
    width: 434.35px;
    height: 257.55px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    left: 55px;
    bottom: 50px;
}

.nineblock .innermenu .header {
    background-color: white;
    width: 434.35px;
    height: 62.9px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
}

.nineblock .innermenu .header p {
    margin-left: 25px;
    font-weight: 600;
}

.nineblock .circle {
    background-color: #FFDB5D;
    position: absolute;
    left: 660px;
    top: 7300px;
    width: 23.8px;
    height: 23.8px;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    font-weight: 600;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nineblock .innermenu .innerchild {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: white;
}

.nineblock .innermenu .innerchild .column {
    background-color: #ABC264;
    width: 35.7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.nineblock .innermenu .innerchild .firstcolumn {
    height: 25.9px;
}

.nineblock .innermenu .innerchild .secondcolumn {
    height: 58.65px;
}

.nineblock .innermenu .innerchild .thirdcolumn {
    height: 83.3px;
}

.nineblock .innermenu .innerchild .fourthcolumn {
    height: 93.5px;
}

.nineblock .innermenu .innerchild .fifthcolumn {
    height: 79.05px;
}

.nineblock .innermenu .innerchild .sixthcolumn {
    height: 103.7px;
}

.nineblock .innermenu .innerchild .seventhcolumn {
    height: 58.65px;
}

.nineblock .innermenu .innerchild .column .inner {
    background-color: #FFDB5D;
    width: 35.7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nineblock .innermenu .innerchild .firstcolumn .inner {
    height: 11.9px;
}

.nineblock .innermenu .innerchild .secondcolumn .inner {
    height: 38.25px;
}

.nineblock .innermenu .innerchild .thirdcolumn .inner {
    height: 45.9px;
}

.nineblock .innermenu .innerchild .fourthcolumn .inner {
    height: 49.3px;
}

.nineblock .innermenu .innerchild .fifthcolumn .inner {
    height: 7.65px;
}

.nineblock .innermenu .innerchild .sixthcolumn .inner {
    height: 93.5px;
}

.nineblock .innermenu .innerchild .seventhcolumn .inner {
    height: 28.9px;
}

.nineblock .innermenu .innerchild-bottom {
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nineblock .innermenu .innerchild-bottom .line {
    background-color: #CEDBE3;
    border-radius: 5px;
    width: 35.7px;
    height: 8.5px;
    margin-top: 20px;
}

.nineblock .innermenu .innerchild-bottom .firstline {
    width: 24.65px;
    margin-left: 6px;
    margin-right: 5px;
}

.nineblock .cursor {
    position: absolute;
    top: 7430px;
    left: 560px;
    color: #221437;
    max-width: 21.31px;
    max-height: 21.31px;
}

.nineblock .right-content {
    width: 316.8px;
    height: 600px;
    position: relative;
    left: 620px;
    bottom: 550px;
}

.nineblock .right-content p:nth-child(1) {
    color: #793CFB;
    font-size: 13px;
    line-height: 17.64px;
    font-weight: 600;
}

.nineblock .right-content p:nth-child(2) {
    color: #221437;
    font-size: 32px;
    line-height: 36.43px;
    letter-spacing: 0.72px;
    width: 95%;
    margin-top: 20px;
}

.nineblock .right-content p:nth-child(3) {
    color: #221437;
    font-size: 18px;
    line-height: 25.2px;
    margin-top: 20px;
}

.nineblock .right-content button {
    background-color: #793CFB;
    border-radius: 36px;
    margin-top: 20px;
    width: 121px;
    height: 53px;
    color: white;
    font-size: 13px;
    line-height: 17.64px;
    letter-spacing: 1.3px;
    text-align: center;
    cursor: pointer;
}

.nineblock .back4 {
    position: absolute;
    right: 100px;
    top: 7065px;
    min-width: 1200px;
    min-height: 846p;
    z-index: -3;
}

.nineblock .fay {
    position: absolute;
    top: 7700px;
    left: 610px;
}

.nineblock .blackline {
    position: absolute;
    max-width: 139.48px;
    max-height: 391.64px;
    top: 7388px;
    left: 500px;
}

.nineblock .telegramm {
    position: absolute;
    max-width: 139.48px;
    max-height: 391.64px;
    top: 7360px;
    left: 470px;
}

/* Десятый блок */

.tenblock {
    height: 900px;
    width: 1200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.tenblock .leftblock {
    height: 400px;
    min-width: 300px;
    margin-top: 50px;
    margin-left: 100px;
}

.tenblock .leftblock p:nth-child(1) {
    color: #793CFB; 
    font-size: 13px;
    line-height: 17.64px;
    font-weight: 600;
}

.tenblock .leftblock p:nth-child(2) {
    color: #221437; 
    font-size: 33px;
    line-height: 36.43px;
    margin-top: 15px;
}

.tenblock .leftblock p:nth-child(3) {
    color: #221437; 
    font-size: 17px;
    line-height: 25.2px;
    margin-top: 20px;
}

.tenblock .leftblock button {
    background-color: #793CFB;
    border-radius: 36px;
    margin-top: 20px;
    width: 121px;
    height: 53px;
    color: white;
    font-size: 13px;
    line-height: 17.64px;
    letter-spacing: 1.3px;
    text-align: center;
    cursor: pointer;
}

.tenblock .rightblock {
    height: 380.13px;
    width: 502.99px;
    margin-top: 200px;
    margin-left: 190px;
    border-radius: 25px;
}

.tenblock .rightblock .header {
    width: 502.99px;
    height: 46.74px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
}

.tenblock .rightblock .header .red {
    background-color: #FF7E76;
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
}

.tenblock .rightblock .header .yellow {
    background-color: #F7E177;
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
}

.tenblock .rightblock .header .green {
    background-color: #B4CF80;
    width: 6.6px;
    height: 6.6px;
    border-radius: 50%;
}

.tenblock .rightblock .header .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 140px;
    position: absolute;
    width: 282.99px;
    height: 21.98px;
    opacity: 70%;
}

.tenblock .rightblock .header .link p {
    font-size: 15px;
    font-weight: 450;
    color: #221437;
}

.tenblock .rightblock .header .link p {
    font-size: 15px;
    font-weight: 450;
    color: #221437;
}

.tenblock .rightblock .header .fa-plus {
    position: relative;
    left: 350px;
}

.tenblock .rightblock .elements {
    width: 120px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tenblock .rightblock .innertext {
    height: 50px;
    margin-top: 50px;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
}

.tenblock .rightblock .innerchild {
    height: 225px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.tenblock .rightblock .innerchild .inner {
    height: 169.81px;
    width: 133.35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tenblock .rightblock .innerchild .inner img {
    position: relative;
    left: 0;
    top: 0;
    width: 36.99px;
    height: 28.95px;
}

.tenblock .rightblock .innerchild .inner .text {
    width: 130px;
    height: 30px;
    margin-top: 20px;
    color: #221437;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    letter-spacing: 0.2px;
    font-weight: 700;
}

.tenblock .rightblock .innerchild .inner .lines {
    width: 100px;
    height: 15px;
    margin-top: 10px;
}

.tenblock .rightblock .innerchild .inner .lines .sector {
    height: 5px;
    margin-bottom: 0.5px;
    display: flex;
    justify-content: space-around;
}

.tenblock .rightblock .innerchild .inner .lines .firstlines .first {
    background-color: #E1EDF1;
    width: 42.89px;
    height: 5.45px;
    border-radius: 25px;
} 

.tenblock .rightblock .innerchild .inner .lines .firstlines .second {
    background-color: #E1EDF1;
    width: 15.6px;
    height: 5.45px;
    border-radius: 25px;
} 

.tenblock .rightblock .innerchild .inner .lines .firstlines .third {
    background-color: #E1EDF1;
    width: 33.53px;
    height: 5.45px;
    border-radius: 25px;
} 

.tenblock .rightblock .innerchild .inner .lines .secondlines .first {
    background-color: #E1EDF1;
    width: 11.7px;
    height: 5.45px;
    border-radius: 25px;
} 

.tenblock .rightblock .innerchild .inner .lines .secondlines .second {
    background-color: #E1EDF1;
    width: 47.57px;
    height: 5.45px;
    border-radius: 25px;
} 

.tenblock .rightblock .innerchild .inner .lines .secondlines .third {
    background-color: #E1EDF1;
    width: 31.97px;
    height: 5.45px;
    border-radius: 25px;
} 

.tenblock .rightblock .innerchild .inner button {
    background-color: #FED758;
    width: 79.54px;
    height: 27.26px;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tenblock .rightblock .innerchild .inner button .line {
    width: 32.75px;
    height: 5.45px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.tenblock .star2 {
    position: relative;
    top: 550px;
    right: 310px;
    width: 461px;
    height: 377px;
}

/* Одинадцатый блок */

.elevenblock {
    width: 1036.8px;
    height: 1088.17px;
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.elevenblock p {
    font-size: 61px;
    line-height: 72.2px;
    text-align: center;
    width: 831px;
    color: #221437;
}

.elevenblock img {
    position: absolute;
    min-width: 935.88px;
    max-height: 320.07px;
    top: 9290px;
}

.elevenblock .innerchild {
    height: 654.51px;
    width: 936.36px;
    margin-top: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elevenblock .innerchild .mainheader {
    background-color: #FED758;
    width: 936.36px;
    border-radius: 5px;
    height: 192.21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elevenblock .innerchild .mainheader p {
    color: white;
    font-weight: 600;
    font-size: 28px;
}

.elevenblock .innerchild .body {
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 810.21px;
    height: 438.98px;
    bottom: 40px;
}

.elevenblock .innerchild .body .header {
    width: 100%;
    height: 60.27px;
}

.elevenblock .innerchild .body .header p{
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 700;
    right: 300px;
    bottom: 5px;
}

.elevenblock .innerchild .body .inner-content {
    height: 300px;
    width: 750px;
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
}

.elevenblock .innerchild .body .inner-content .sector {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.elevenblock .innerchild .body .inner-content .sector .head {
    height: 20px;
    color: #717678;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.elevenblock .innerchild .body .inner-content .third {
    height: 100%;
    width: 300px;
}

.elevenblock .innerchild .body .inner-content .fourth {
    height: 100%;
    width: 120px;
}

.elevenblock .innerchild .body .inner-content .fifth {
    height: 100%;
    width: 120px;
}

.elevenblock .innerchild .body .inner-content .sector .innerblock {
    height: 90px;
    display: flex;
    flex-direction: row;
}

.elevenblock .innerchild .body .inner-content .sector .innerblock .line {
    background-color: #D7D1C0;
    width: 30.94px;
    height: 8.96px;
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.elevenblock .innerchild .body .inner-content .sector .innerblock .linesecond {
    background-color: #D7D1C0;
    width: 43.97px;
    height: 8.96px;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 10px;
}

.elevenblock .innerchild .body .inner-content .description .innerblock .linesecond {
    background-color: #D7D1C0;
    width: 59.44px;
    height: 8.96px;
    border-radius: 25px;
    margin-top: 10px;
}

.elevenblock .innerchild .body .inner-content .description .innerblock .linethird {
    background-color: #D7D1C0;
    width: 80.61px;
    height: 8.96px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

.elevenblock .innerchild .body .inner-content .description .innerblock .linefourth {
    background-color: #D7D1C0;
    position: relative;
    width: 71.66px;
    height: 8.96px;
    border-radius: 25px;
    top: 25px;
    right: 144px;
}

.elevenblock .innerchild .body .inner-content .description .innerblock .linefive {
    background-color: #D7D1C0;
    position: relative;
    width: 33.39px;
    height: 8.96px;
    border-radius: 25px;
    top: 25px;
    right: 139px;
}

.elevenblock .innerchild .body .inner-content .description .innerblock .linesix {
    background-color: #D7D1C0;
    position: relative;
    width: 80.61px;
    height: 8.96px;
    border-radius: 25px;
    top: 25px;
    right: 133px;
}

.elevenblock .innerchild .body .inner-content .priority .innerblock .first {
    background-color: #ABC264;
}

.elevenblock .innerchild .body .inner-content .priority .innerblock .second {
    background-color: #FED758;
}

.elevenblock .innerchild .body .inner-content .priority .innerblock .third {
    background-color: #F4A5EC;
}

/* Двенадцатый блок */

.twelveblock {
    width: 1065.59px;
    height: 785.44px;
    margin-left: 65px;
    margin-top: 150px;
}

.twelveblock p {
    font-size: 53px;
    text-align: center;
    color: #221437;
    line-height: 70.85px;
}

.twelveblock img {
    margin-left: 150px;
}

/* Тринадцатый блок */

.thirteenblock {
    width: 1036.8px;
    height: 400.38px;
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thirteenblock p {
    font-size: 81px;
    text-align: center;
    width: 759px;
    color: #221437;
    line-height: 90px;
}

.thirteenblock .innerchild {
    width: 531.25px;
    height: 77.59px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thirteenblock .innerchild input {
    border-radius: 36px;
    width: 329px;
    height: 58px;
}

.thirteenblock .innerchild input::placeholder {
    color: black;
    text-indent: 20px;
    font-weight: 500;
}

.thirteenblock .innerchild button {
    background-color: #793CFB;
    border-radius: 36px;
    width: 174px;
    height: 56px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.6px;
}

/* Футер */

footer {
    width: 100%;
    height: 340px;
    display: flex;
}

footer img {
    max-width: 150px;
    height: 25px;
    margin-top: 50px;
    margin-left: 100px;
}

footer .inner {
    width: 250px;
    display: flex;
    flex-direction: column;
}

footer .inner:nth-child(2) {
    margin-left: 460px;
}

footer .inner p {
    color: #221437;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18.9px;
    font-size: 13px;
    margin-top: 60px;
}

footer .inner a:nth-child(2) {
    margin-top: 10px;
}

footer .inner a {
    color: black;
    font-size: 14px;
    line-height: 26.42px;
}

footer .terms {
    color: #221437;
    position: absolute;
    top: 11850px;
    left: 100px;
    font-size: 12px;
    line-height: 17.64px;
    font-weight: 600;
}